<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bodekjan.uyweather">
    <uses-permission android:name="android.permission.INTERNET" /> <!-- normal -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- normal -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- normal -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- xxx -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- xxx -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" /> <!-- normal -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- xxx -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="580c9edac895764480000c1c"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="WANDOUJIA"/>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddCityActivity" />
        <activity android:name=".activities.CityActivity" />
        <activity android:name=".activities.WebActivity" />
        <activity android:name=".activities.SettingActivity"></activity>
        <activity android:name=".activities.TranslateActivity" />
        <activity android:name=".activities.CompassActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <service android:name=".service.WeatherService"></service>
        <activity
            android:theme="@style/MyTheme"
            android:configChanges="orientation|screenSize"
            android:name=".widget.ImageSelectorActivity" />
        <receiver
            android:name=".widget.FullSizeWidget"
            android:label="5x1 YURTUM">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.bodekjan.homechanged"></action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xml_fullwidget" />
        </receiver>
        <receiver
            android:name=".widget.ExtraSizeWidget"
            android:label="5x1 YURTUM">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.bodekjan.homechanged" />
                <action android:name="com.bodekjan.homechangedxxx" />
                <action android:name="com.bodekjan.timeupdate" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/xml_extrawidget" />
        </receiver>
        <receiver android:name=".receiver.ServiceReceiver"/>
        <service android:name=".service.LocalService"></service>
        <service android:name=".service.RemoteService" android:process=".remoteservice"></service>
    </application>

</manifest>